#tabServicios{
    height: 400px;
    width: 850px;
}

#tabs{
    background-color: #ccc;
    padding: 10px;
    text-align: center;
}

#tabs a{
    color: black;
    font-size: 14px;
    padding: 9px 11px 11px 11px;
    text-decoration: none;
    transition: all .5s;
}

#tabs a:hover{
    background-color: #eee;
}

.tabContent{
    display: none;
    text-align: center;
}

.tabContent img{
    margin-top: 10px;
}

.tabActual{ /*para saber en jquery que tab, esta activo*/

background-color: #fff !important;
}

